@model NextUses.Models.Auth.LoginModel
@{
	ViewData["Title"] = "Login";
	Layout = "_FrontendLayout";
}

<!-- ======================= Top Breadcrubms ======================== -->
<div class="gray py-3">
	<div class="container">
		<div class="row">
			<div class="colxl-12 col-lg-12 col-md-12">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item"><a href="#">Pages</a></li>
						<li class="breadcrumb-item active" aria-current="page">Login</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- ======================= Top Breadcrubms ======================== -->
<!-- ======================= Login Detail ======================== -->
<section class="middle">
	<div class="container">
		<div class="row justify-content-center">

			<div class="col-xl-6 col-lg-7 col-md-10 col-sm-12">
				<div class="bg-white border p-4 rounded shadow-sm">

					<div class="mb-3 text-center">
						<h3>Login</h3>

					</div>

					<form asp-controller="Account" asp-action="Login" method="post" class="border p-3 rounded">
						<div class="form-group">
							<label>Email *</label>
							<input type="email" id="email" asp-for="Email" class="form-control" placeholder="Email*">
							<span asp-validation-for="Email" style="color:red; font-size:14px;"></span>
						</div>

						<div class="form-group">
							<label asp-for="Password">Password *</label>
							<input type="password" asp-for="Password" class="form-control" placeholder="Password*">
							<span asp-validation-for="Password" style="color:red; font-size:14px;"></span>
						</div>

						<div class="row">
							<div class="col-12 d-flex justify-content-between align-items-center mb-2">

								<!-- Remember Me -->
								<div class="form-check mb-0" style="padding-left: 0;">
									
								</div>
								<!-- Lost Password -->
								<div>
									<a asp-controller="Account" asp-action="VerifyEmail" class="text-primary mb-2">
										Lost your password?
									</a>
								</div>

							</div>
						</div>

						
						<div class="form-group">
							<button type="submit" class="btn btn-md full-width bg-dark text-light fs-md ft-medium">Sign In</button>
						</div>
					</form>

					<p class="mt-4 text-center text-muted small">
						Already verified?
						<a asp-controller="Account" asp-action="Register" class="text-primary fw-bold">Sign Up here</a>
					</p>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- ======================= Login End ======================== -->

